.Player {
    background-image: url(../images/explode-1.svg);
    width: 58%;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:700px;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
}

.Player-icon-container {
    margin-top: 5em;
    display: flex;
    justify-content: center;
}

.Player-icon-container img {

}

.Player-information {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Player-information-artistInfo {
    max-height: 50px;
    max-width: 100px;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border: 3px solid black;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.Player-information-artistInfo:hover {
    transform: scale(1.2);
    border: 4px solid green; 
}